<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
    <meta charset="UTF-8">
    <title>ML Deployment using Heroku</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <style>
        * { font-family: sans-serif;}
        #preview {width:200px;height:200px;border:1px dashed grey;}
        label.cameraButton {
        display: inline-block;
        margin: 1em 0;
      
        /* Styles to make it look like a button */
        padding: 0.5em;
        border: 2px solid #666;
        border-color: #EEE #CCC #CCC #EEE;
        background-color: #DDD;
        }
      
        /* Look like a clicked/depressed button */
        label.cameraButton:active {
            border-color: #CCC #EEE #EEE #CCC;
        }
      
        /* This is the part that actually hides the 'Choose file' text box for camera inputs */
        label.cameraButton input[accept*="camera"] {
            display: none;
        }
        label.cameraButton button {
            display: none;
        }
        #predResult { font-weight:bold; font-size: 2em;}
    </style>
</head>

<body>
    <div class="prediction">
        <center>
        <h1>Auntie Lucy</h1>
        <form action="/predict" method="post" enctype="multipart/form-data">
                <label class="cameraButton">Take a picture
                    <input type="file" id="imageinput" name="file" accept="image/*;capture=camera" required>
                </label><br/>
                <img id="preview" name="preview" src="{{ thumbnail }}"></img><br/>
                
        
                <!--<label class="cameraButton">Classify<button onclick="predict()"></button></label><br/>-->
        
                <div id="predResult">{{ result }} </div>
                {{ confidence }}<br/>
                <p class="writeup">{{ writeup }}</p>
                
        
                <script>
        
                    // listener. if image uploaded, display 150x150 preview.
                    let imgInput = document.getElementById('imageinput');
                    imgInput.addEventListener('change', function (e) {
                        if (e.target.files) {
                            let imageFile = e.target.files[0];
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = document.createElement("img");
                                img.onload = function (event) {
                                    // Dynamically create a canvas element
                                    var canvas = document.createElement("canvas");
            
                                    // var canvas = document.getElementById("canvas");
                                    var ctx = canvas.getContext("2d");
            
                                    // Actual resizing
                                    ctx.drawImage(img, 0, 0, 300, 150);
            
                                    // Show resized image in preview element
                                    var dataurl = canvas.toDataURL(imageFile.type);
                                    document.getElementById("preview").src = dataurl;
                                }
                                img.src = e.target.result;
                            }
                            reader.readAsDataURL(imageFile);
                            document.getElementById("predResult").innerHTML = " "
        
                        }
                    });
                </script>

        
        
        	<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

       <br>
       
    </div>
</center>
</body>
</html>






<!--

    
        
        <input type="text" id="age" name="age" required="required">
		<br>
    		<label for="workclass">Working Class</label>
    		<select id="workclass" name="workclass" required="required">
      			<option value="1">Federal-gov</option>
      			<option value="2">Local-gov</option>
      			<option value="3">Never-worked</option>
    		</select>
    		<br>
		<label for="education">Education</label>
    		<select id="education" name="education" required="required">
      			<option value="0">10th</option>
      			<option value="1">11th</option>
    		</select>
    		<br>
    		<label for="marital-status">Marital Status</label>
    		<select id="marital-status" name="marital-status" required="required">
      			<option value="0">Divorced</option>
      			<option value="1">Married-AF-spouse</option>
    		</select>
    		<br>
		<label for="occupation">Occupation</label>
    		<select id="occupation" name="occupation" required="required">
      			<option value="1">Adm-clerical</option>
      			<option value="2">Armed-Forces</option>
    		</select>
    		<br>
    		<label for="relationship">Relationship</label>
    		<select id="relationship" name="relationship" required="required">
      			<option value="0">Husband</option>
      			<option value="1">Not-in-family</option>
    		</select>
    		<br>
    		<label for="race">Race</label>
    		<select id="race" name="race" required="required">
      			<option value="0">Amer Indian Eskimo</option>
      			<option value="4">White</option>
    		</select>
    		<br>
    		<label for="gender">Gender</label>
    		<select id="gender" name="gender" required="required">
      			<option value="0">Female</option>
      			<option value="1">Male</option>
    		</select>
    		<br>
    		<label for="capital-gain">Capital Gain </label>
    		<input type="text" id="capital-gain" name="capital-gain" required="required">btw:[0-99999]
    		<br>
    		<label for="capital-loss">Capital Loss </label>
    		<input type="text" id="capital-loss" name="capital-loss" required="required">btw:[0-4356]
    		<br>
    		<label for="hours-per-week">Hours per Week </label>
    		<input type="text" id="hours-per-week" name="hours-per-week" required="required">btw:[1-99]
    		<br>
    		<label for="native-country">Native Country</label>
    		<select id="native-country" name="native-country" required="required">
      			<option value="1">Cambodia</option>
      			<option value="2">Canada</option>
    		</select>
    		<br>

        -->